[Desktop Entry]
Comment[en_US]=
Comment=
Exec=x11docker --gpu --clipboard --name='vpn-globalprotect' --sudouser --home="" -- --net=host --privileged --  matinraayai/vpn-globalprotect
GenericName[en_US]=
GenericName=
Icon=network-vpn
MimeType=
Name[en_US]=VPN GlobalProtect
Name=VPN GlobalProtect
NoDisplay=false
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
