[Desktop Entry]
Comment[en_US]=
Comment=
Exec=x11docker --name="arduino" --gpu --clipboard --home -- --privileged -- arduino &
GenericName[en_US]=
GenericName=
Icon=arduino-ide
MimeType=
Name[en_US]=Arduino IDE
Name=Arduino IDE
NoDisplay=false
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
