[Desktop Entry]
Comment[en_US]=
Comment=
Exec=x11docker --gpu --name="slack" --clipboard --pulseaudio --home -- --privileged --  matinraayai/slack &
GenericName[en_US]=
GenericName=
Icon=slack
MimeType=
Name[en_US]=Slack
Name=Slack
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
