[Desktop Entry]
Comment[en_US]=
Comment=
Exec=x11docker --gpu --name='clion' --clipboard --pulseaudio --home="" -- --gpus all --  matinraayai/clion &
GenericName[en_US]=
GenericName=
Icon=clion
MimeType=
Name[en_US]=CLion
Name=CLion
NoDisplay=false
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
