[Desktop Entry]
Comment[en_US]=
Comment=
Exec=x11docker --gpu --clipboard --pulseaudio --name="qemu" --webcam --sudouser --dbus --user=RETAIN -- --privileged -v "/$HOME/x11docker/kvm/":"/root/" -v "/$HOME/x11docker/libvirt/virt/":"/var/lib/libvirt/" -v "/$HOME/x11docker/libvirt/conf/":"/etc/libvirt/" -v /dev/kvm:/dev/kvm --gpus all -v /dev/dri/:/dev/dri  -- qemu-arch bash &
GenericName[en_US]=
GenericName=
Icon=virt-manager
MimeType=
Name[en_US]=QEMU-Arch
Name=QEMU-Arch
NoDisplay=false
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
